body{
    background-color: darkgray;
}
header{
    background-color: #333;
    
}
.brunch{
margin-left: 20px;
}
h1{
    text-align: center;
    color: blueviolet;
    padding: 20px;
    margin: 20px;
}
h2{
    text-align: center;
    margin-right: 10%;
    color: darkblue;
}
h3{
    margin-left: 10%;
    color: darkslateblue;
}
 .content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: lavenderblush;
 }
 .course{
    background-color: #345;
    margin: 2rem;
    padding: 1rem;
 }
 img{
    height: 200px;
    font-size: small;
 }
 .course p{
    color: white;
 }
 main{
    
    background-color: darkgray;
 }
 h4{
    color: #345;
    margin: 3rem;
 }

p{
    color: black;
    margin: 2rem;
    padding: 10px;
}
ul{
    color: blue;
    background-attachment: fixed;
    margin: 1px;
    padding: 15px;
    font-size: medium;
}
li{
    
    margin: 2rem;
}
.foot{
    width: 100%;
    background-color: #456;
    font-family: 'Courier New', Courier, monospace; 
}
@media (max-width: 700px) {
    body{
        text-align: center;
    }
    .content{
        display: block;
    }
    
}